
.program-item-container{
    display: flex;
    outline: solid 1px #DAE0E3;
    justify-content: space-between;
    margin: 1rem 0;
    min-height: 120px;

    .img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        img{
            display: block;
            max-width:160px;
            max-height:160px;
            width: auto;
            height: auto;
        }
    }
}

.info-container{
    padding: 0 2rem;
    flex: 2.5;
    color: black;
    h1{
        font-size: 20px;
        font-family: $font;
        font-weight: 600;

    }
    h2{
        font-size: 14px;
        color: #999999;
        font-family: $font;
        font-weight: 400;
    }
}

.right-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0;

    .top-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        font-family: $font;
        font-weight: 400;
        width: 170px;

        .length{
            width: 70px;
            height: 22px;
            color: $gray3;
            border: 1px solid $gray3;
            text-align: center;
            border-radius: 3px;
            line-height: 22px;
        }

        svg.bookmarked{
            fill: $accent3;
        }

        .tag{
           background-color: $accent2;
           width: 70px;
           color: white;
           border-radius: 3px;
            line-height: 22px;
            text-align: center;
        }
    }

    .bottom-container{
        border-radius: 3px;
        width: 170px;
        height: 40px;
        cursor: pointer;
        background-color: $accent1;
        color: white;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        outline: none;
        font-weight: 300;

        p{
            padding-left: 1.25rem; 
        }
        svg{
            padding-right: 0.8rem;
        }

        span{
            position: absolute;
            margin-top: 14px;
            display: block;
            border-bottom: 1px solid white;
            width: 0%;
            left: 1.7rem;
        }
    }
}

.bottom-container:hover{
    span{
        animation: underline 500ms ease-in-out;
        width: 120px;
    }
}

.bottom-container-mobile{
    display: none;
}



@keyframes underline {
    from {
        width: 0%;
    }
    to{
        width: 120px;
    }
}

@media(max-width: 1110px){

    .bottom-container:hover{
        span{
            animation: none;
            width: 120px;
            display: none;
        }
    }

    .program-item-container{
        .img-container{
            img{
                max-width:90px;
                max-height:90px;
            }
        }
        outline: none;
        outline: none;
        border-top: solid 1px #DAE0E3;
        margin: 0.3rem 0rem;
    }

    .right-container{
        flex: 0.5;
        .top-container{
            justify-content: space-around;
        }

        .bottom-container{
            border-radius: 3px;
            width: 120px;
            height: 30px;
            font-size: 14px;
            p{
                padding-left: 0rem; 
            }
        }

        .top-container{
            width: 120px;
        }

        svg{
            display: none;
        }
    }
}
@media(max-width: 799px) {
    .program-item-container {
        margin: 0rem 0rem;
        .img-container {
            flex: 0.5;
        }
    }
    .right-container {
        display: none;
        flex: 0;
    }

    .bottom-container-mobile {
        border-radius: 3px;
        cursor: pointer;
        background-color: $accent1;
        color: white;
        text-align: center;
        outline: none;
        font-weight: 300;
        width: 120px;
        height: 30px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 75%;
        position: relative;
        margin-bottom: 1rem;
    }
}

@media(max-width: 500px) {
    .bottom-container-mobile {
        left: 7rem;
        right: 0;
        margin: auto;
        margin-bottom: 1rem;
    }
}